
ul {list-style-type:none;} 

nav ul li {float: left; width:100px; text-align: center;} 

nav ul li a {display:block; padding:10px;}

nav ul li a:hover {background-color:blue; color:red}

head {display:block;
      padding:10px
}